/* body style */
:root{
    --white: rgb(248, 248, 248);
    --gray-border: rgb(63, 63, 63);
    --black: rgb(18, 18, 18);
}

*{
    font-family: "Alexandria", sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    box-sizing: border-box;
    background-color: var(--black);
    color: var(--white);
}

body{
    height: 100vh;
    background-color: var(--black);
}

html, body{
    overflow-x: hidden;
    max-width: 100%;
}

::selection{
    background-color: var(--gray-border);
}

/* main section style */

.main-section, body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    width: 100%;
    height: 600px;
}

.main-div{
    border: 0.5px solid var(--gray-border);
    border-radius: 15px;
    height: 350px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 30px;
    margin: 0 20px;
}

.main-info-div p{
    font-size: 25px;
    margin-bottom: 25px;
}

input{
    border: 0.5px solid var(--gray-border);
    border-radius: 7px;
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 17px;
    margin-bottom: 27px;
}

button{
    margin-right: 10px;
    height: 50px;
    padding: 15px;
    font-size: 17px;
    font-weight: 300;
    border: 0.5px solid var(--gray-border);
    border-radius: 7px;
}

.but1:hover, .but2:hover{
    background-color: var(--white);
    color: var(--black);
    border: 0px;
}

.date-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.date-div p{
    font-size: 25px;
    font-weight: lighter;
}